.forms-pager {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  .form-container {
    height: calc(100vh - 40px);
    overflow: hidden;
    box-sizing: border-box;
    > form {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      > .form-page {
        overflow: hidden;
        height: 100%;
        > div[class^="HoiPoi__"] {
          background-color: #f0f3f5;
          padding: 0 15px;
        }
        > .rah-static { /* Section content */
          overflow: scroll !important;
          height: calc(100vh - 80px) !important;
          padding: 0px 20px 20px;
          box-sizing: border-box;
          form{
            padding: 20px;
            border-bottom: 1px solid #f0f3f5;
            &:last-child{
              border-bottom: none;
            }
          }
        }
      }
    }
  }
  .forms-pager-bar {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    box-sizing: border-box;
    padding: 8px 0;
    justify-content: space-between;
    border-top: 1px solid #f0f3f5;
    background-color: #f0f3f5;
    .forms-pager-prev {
      margin-left: 20px;
      cursor: pointer;
      svg {
        transform: rotate(90deg)
      }
    }
    .forms-pager-number{
      color: #7a8792;
    }
    .forms-pager-finish{
      font-weight: bold;
      color: #7a8792;
      cursor: pointer;
    }
    .forms-pager-next{
      margin-right: 20px;
      cursor: pointer;
      svg {
        transform: rotate(-90deg)
      }
    }
  }
}

div[class^="HoiPoi-Section-root"] > div{
  padding: 20px;
}

