.forms-pager {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  form {
    padding-bottom: 52px;
  }
  .forms-pager-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 15px 20px;
    justify-content: space-between;
    border-top: 1px solid #f0f3f5;
    .forms-pager-prev {
      cursor: pointer;
      svg {
        transform: rotate(90deg)
      }
    }
    .forms-pager-number{
      color: #7a8792;
    }
    .forms-pager-next{
      cursor: pointer;
      svg {
        transform: rotate(-90deg)
      }
    }
  }
}